*{
    margin: 0%;
    padding: 0%;
}
html{
    background: url(Imagens/fundo-rosa-floral-aquarela.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
body{
    margin-top: 10%;
    border-radius: 20px;
}
.conteudo{
    border: 4px solid rgb(165, 165, 165);
    width: 300px;
    margin: auto;
    border-radius: 20px;
    height: 550px;
}
.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
img{
    border: 3px solid rgb(165, 165, 165);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}
.links{
    width: 250px;
    margin: auto;
    padding: 10px;
}
.caminhos{
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(2, 2, 2);
}  
ion-icon{
    padding-right: 10px;
    align-items: center;
    justify-items: left;
}
button{
    background-color: rgb(241, 241, 241);
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    border: none;
    height: 35px;
    cursor: pointer;
}
button:hover{
    transition: 1.5s;
    background-color: rgb(165, 165, 165);
    color: white;
    transition: 1.2s;
    transform: scale(1.2);
}
@media(max-width:768px){
    img{
        border: 3px solid rgb(8, 8, 8);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        margin-top: 5px;
    }
}
